.example {
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
}
.example:after {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
  content: "Example";
}
.clickable
{
    cursor: pointer;
}
.navigation.affix
{
    position: absolute;
}
.radio,.radio-inline,.radio input[type="radio"], .radio label, .radio-inline input[type="radio"], .radio-inline label, .checkbox
{
    cursor: pointer;
}
.videoPlayer
{
    width: 240px;
}