.todoapp[data-filter="active"] .todo-list li.completed { display: none; }
.todoapp[data-filter="completed"] .todo-list li { display: none; }
.todoapp[data-filter="completed"] .todo-list li.completed { display: inline-block; }