<?xml version="1.0"?>
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <customErrors mode="Off" />
        <httpRuntime targetFramework="4.5" enableVersionHeader="false" />
    </system.web>
    <system.webServer>
        <handlers>
            <add name="Atomic" verb="*" path="*" type="AtomicNet.IISHttpHandler.IISHttpHandler, AtomicNet"/>
        </handlers>
    </system.webServer>
</configuration>
