<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" />
    <httpHandlers>
        <add verb="*" path="*" type="AtomicNet.IIS.IISHttpHandler, Atomic.Net" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Atomic" verb="*" path="*" type="AtomicNet.IIS.IISHttpHandler, Atomic.Net" />
    </handlers>
  </system.webServer>
</configuration>